<ons-page id="main" ng-controller="pageMainController">
	<ons-toolbar>
		<div class="center">カテゴリを選択</div>
	</ons-toolbar>
	<div class="contents">
		<ons-tabbar swipeable position="auto">
			<ons-tab page="tab1.html" label="Tab 1" icon="ion-home, material:md-home" badge="" active>
			</ons-tab>
			<ons-tab page="tab2.html" label="Tab 2" icon="md-settings" active-icon="md-face">
			</ons-tab>
		</ons-tabbar>
	</div>

	<template id="tab1.html">
		<ons-page id="Tab1">
			<p style="text-align: center;">
				用意されたカテゴリを選択
			</p>
		</ons-page>
	</template>

	<template id="tab2.html">
		<ons-page id="Tab2">
			<p style="text-align: center;">
				デザインはまだ決まってない
			</p>
		</ons-page>
	</template>
</ons-page>
